<h1>About Social DINKS</h1>
<p>
	Social DINKS was created after all our friends started having children and talking about diapers and first words. We love our friends' kids, but sometimes we just want to make plans without the risk of a last-minute phone call about Junior and his projectile vomiting. At the same time, we have matured past the singles bars. This site seeks to fill the gap, helping user's to make plans with other childless people, singles or couples.
</p>